<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content"> 
     {{>header}}
    </div>
    <img class="portrait" src="/img/randy-img.jpg" alt="">
      <p>My name is Randy Herasme. I built this application to work with the Dark Sky and MapBox API's in order to fetch the weather!</p>
     {{>footer}}
</body>

</html>