<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content"> 
     {{>header}}
      <p>Use This To Get About</p>
    </div>
    <img class="portrait" src="/img/randy-img.jpg" alt="">
     {{>footer}}
</body>

</html>